.download-block {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--green);
    width: 30%;
    margin: 8% auto;
    padding: 20px;
    border-radius: 10px;
}

.download-block h2 {
    text-align: center;
    margin-bottom: 7%;
}

.download-block label {
    display: block;
    margin-bottom: 5px;
}

.download-block input[type="text"] {
    display: block;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.download-block button[type="submit"] {
    background-color: var(--orange);
    color: white;
    border: 1.5px solid var(--orange);
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.form-group {
    margin-bottom: 5%;
}

.download-block button[type="submit"]:hover {
    border: 1.5px solid var(--light-blue);
    background-color: var(--light-blue);
    color: white;
}

p {
    margin-left: 20%;
}

@media (max-width: 768px) {
    .download-block {
        width: 100%;
        max-width: 500px;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 0.5s ease-in-out;
}